@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(233, 233, 33);
  background: linear-gradient(
    90deg,
    rgba(233, 233, 33, 1) 0%,
    rgba(233, 233, 233, 1) 0%,
    rgba(245, 245, 245, 1) 100%
  );
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
