.confirmed {
  width: 80%;
  margin: 1rem auto;
  padding-top: 10rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  p {
    text-align: center;
    font-size: 1.1rem;
    color: #2c2b30;
  }

  button {
    margin-top: 1rem;
    cursor: pointer;
    color: #6b98ff;
    transition: 0.2s ease-in-out;
    border: none;
    display: flex;
    align-items: center;

    p {
      margin-bottom: 0;
      margin-right: 1rem;
      font-size: 1.3rem;
      color: #6b98ff !important;
    }
  }
}
